body{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 100vh;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
}

.form-btn{
    align-self: center;
    cursor: pointer;
}